
.layout{
    min-height: 90vh;
}
.w-40{
    width: 40% ;
}

.w30{
    width: 30%;
}

.w-15 {
    width: 15%;
}

.w-10{
    width: 10%;
}



@media screen and (max-width: 992px) {
    .t-responsive{
        display: block;
        overflow-x: auto;
        width: 100%;
        -webkit-overflow-scrolling: touch;
    }
}



@media screen and (max-width: 992px) {

    .thead-responsive{
        width: 60%;
    }
}


@media screen and (max-width: 1200px) {

    .thead-responsive{
        width: 30%;
    }
}

.font-family-fantasy{
    font-family: fantasy;
}

.font-family-sans-serif{
    font-family: sans-serif;
}



.table td, .table th {
     padding: 0.5rem;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.2;
}

.pointer{
    cursor: pointer;
}

.text-violet{
    color: #4242B3!important;
}

.text-blue-green{
    color: #219EBC!important
}

.img-tool:hover {
    opacity: 0.8;
    transition: 0.5s ease-in-out;
    transform: scale(1.05);
}

.img-tool {
    transition: 0.5s;
    cursor: pointer;
}

.adaptation-field{
    font-size: 2.5em !important;
    border: 2.5px solid black;
}

.reforge-field{
    font-size: 2.5em !important;
    border: 2.5px solid black;
}

.formula {
    font-size: x-large;
}

.border-black{
    border: 1px solid black !important;
}

.stat-field{
    font-size: 2.5em !important;
    border: 2.5px solid black;
}

.accordion-button svg{
    display: none;
}

.footer {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.15);

}